[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=./mntSMB
Comment=Mount/Unmount cifs shares
Icon=/home/huwhamerpowell/mntSMB.sh.png
Name=mntSMB
GenericName=Mount SMB andTime Capsule Drives
